# Ignore node_modules in both folders
node_modules/
client/node_modules/
sever/node_modules/

# Ignore build outputs
dist/
build/
frontend/dist/
frontend/build/

# Ignore env files
.env
sever/.env
client/.env

# Logs
logs
*.log

# System/IDE files
.DS_Store
.vscode/
.idea/
